* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Sans-Serif';
  font-size: 16px;
}

body {
  height: 100vh;
  background-image: url("https://iamvlado93.github.io/dropdown-menu/source/img/background.jpg");
  background-size: cover;
  opacity: 0.92;
}

li {
  list-style-type: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #181717;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
  overflow: hidden;
  background: #181717;
}

#arrow {
  display: none;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#burger, #burger__closed {
  display: none;
}

img {
  height: 1.5rem;
  width: 2rem;
  cursor: pointer;
}

.d {
  float: left;
  overflow: hidden;
}

.d .d-btn {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background: inherit;
  cursor: pointer;
}

.navbar a:hover, .d:hover .d-btn {
  border-bottom: 3px solid orange;
}

.d-content {
  display: none;
  position: absolute;
  background: #3a3737;
  opacity: 0.9;
  width: 100%;
  left: 0;
  z-index: 10;
}

.column__one, .column__two {
  display: none;
}

.column:hover .column__one {
  display: block;
}

.column:hover .column__two {
  display: block;
}

.d:hover .d-content {
  display: block;
}

.column {
  font-size: 14px;
  float: left;
  width: 16%;
  padding: 3px;
  background: #3a3737;
  opacity: 0.9;
  cursor: pointer;
}

.column__after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column a {
  display: block;
  float: none;
  color: #eee;
  text-align: left;
}

.column h3 {
  color: #eee;
  padding: 10px;
}

.column a:hover {
  color: #fff;
  background: rgba(216, 216, 216, 0.534);
}

@media (max-width: 690px) {
  img {
    width: 3rem;
    height: 2.5rem;
    margin: 15px;
  }
  .d-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
  }
  #arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .d-content {
    position: relative;
  }
  button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #navbar {
    position: absolute;
    top: 10vh;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #3a3737;
  }
  #burger {
    display: block;
  }
  .column {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */