@mixin default {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'roboto';
}

@mixin cyan {
    color: cyan;
}

@mixin background {
    background-image: url("https://iamvlado93.github.io/dropdown-menu/source/img/background.jpg");
    background-size: cover;
    opacity: 0.92;
}

@mixin hidden {
    visibility: hidden;
}

@mixin visible {
    visibility: visible;
}

@mixin absolute {
    position: absolute;
}

@mixin black {
    background: rgb(0, 0, 0);
}

@mixin white {
    color: rgb(255, 255, 255);
}